@page "/"
@using GUI.Components
@using GUI.Components.Shared
@rendermode InteractiveServer
<h3>Battleship Game</h3>

@if (!showGrids)
{
    <label>
    Rows:
    <input type="number" @bind="rows" min="1" max="20" />
    </label>
    <label>
        Columns:
        <input type="number" @bind="columns" min="1" max="20" />
    </label>
    <button @onclick="Play">Play</button>
}
else
{
    <button @onclick="Play">Menu</button>
    <GameGrid game="game" />
} 


@code {
    int rows = 10;
    int columns = 10;
    bool showGrids = false;

    public Game? game;

    void Play()
    {
        showGrids = !showGrids;
        if (showGrids)
        {
            game = new Game(rows, columns);
        } else {
            game = null;
        }
       // await InvokeAsync(StateHasChanged);
    }
}    
