@page "/"
@using GUI.Components
@rendermode InteractiveServer
<h3>Battleship Game</h3>

@if (!showGrids)
{
    <label>
    Rows:
    <input type="number" @bind="rows" min="1" max="20" />
    </label>
    <label>
        Columns:
        <input type="number" @bind="columns" min="1" max="20" />
    </label>
    <button @onclick="ShowGrids">Play</button>
}
else
{
    <button @onclick="ShowGrids">Menu</button>
    <Game Rows="rows" Columns="columns" />
} 


@code {
    int rows = 10;
    int columns = 10;
    bool showGrids = false;

    void ShowGrids()
    {
        showGrids = !showGrids;
       // await InvokeAsync(StateHasChanged);
    }
}