@page "/"
@using GUI.Components
@using GUI.Components.Shared
@rendermode InteractiveServer
<h3>Battleship Game</h3>

@if (!showGrids)
{
    <select @bind="dimensions">
        @for (int i = 5; i <= 20; i += 5)
        {
            <option value="@i">@i</option>
        }
    </select>
    <button @onclick="Play">Play</button>
}
else
{
    <button @onclick="Play">Menu</button>
    <GameGrid game="game" />
} 


@code {
    int dimensions = 10;
    bool showGrids = false;

    public Game? game;

    void Play()
    {
        showGrids = !showGrids;
        if (showGrids)
        {
            game = new Game(dimensions, dimensions);
        } else {
            game = null;
        }
       // await InvokeAsync(StateHasChanged);
    }
}    
