@using Model

<div class="grids-container">
    <div>
        <h4>Your Fleet</h4>
        <div class="grid">
            @foreach (var square in fleetGrid.Squares)
            {
                <div class="square">
                    (@square.Row, @square.Column)
                </div>
            }
        </div>
    </div>
    <div>
        <h4>Your Shots</h4>
        <div class="grid">
            @for (int row = 0; row < 10; row++)
            {
                for (int col = 0; col < 10; col++)
                {
                    var square = shotsGrid.GetSquare(row, col);
                    <div class="square">
                        (@square.Row, @square.Column)
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Rows { get; set; }

    [Parameter]
    public int Columns { get; set; }
    FleetGrid fleetGrid = new FleetGrid(10, 10);
    ShotsGrid shotsGrid = new ShotsGrid(10, 10);
}

<style>
    .grids-container {
        display: flex;
        gap: 40px;
        margin-bottom: 20px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 5px;
        width: 100%;
        max-width: 640px;
    }

    .square {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
</style>